<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title}}</title>
    <link rel="icon" href="/static/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    {% include 'to_include/header_dash.html' %}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/27.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2>bienvenue, <b>{{ user.user_name }}</b></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Game Review Area Start ##### -->
    <section class="game-review-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    {% for game1 in all_my_games %}
                        {% for game2 in wish_games %}
                            {% if game1.game_name == game2.game_name %}

                        <div class="single-game-review-area d-flex flex-wrap mb-30 col-md-8">
                            <div class="game-thumbnail">
                                {% if game1.environement == "PC" %}
                                    <img src="/static/img/bg-img/pc.jpg" alt="">
                                    {% elif game1.environement == "Xbox"%}
                                        <img src="/static/img/bg-img/xbox.jpg" alt="">
                                        {% else %}
                                            <img src="/static/img/bg-img/ps4.jpg" alt="">
                                {% endif %}
                        </div>
                        <div class="game-content">

                            <a href="{% url 'game_details' %}" class="game-title">{{ game1.game_name }}</a>
                            <div class="game-meta">
                                <i class="fa fa-street-view" aria-hidden="true"></i><a href="#" class="game-comments"> {{ game1.user.get }} </a>
                            </div>

                            <div class="game-meta">
                                <a href="#" class="game-date">{{ game1.timestamp }}</a>
                            </div>

                            <p> description du <jeu></jeu> </p>
                            <!-- Download & Rating Area -->
                            <div class="download-rating-area d-flex align-items-center justify-content-between">
                                <div class="download-area col-md-2">
                                    {% if game1.environement == "PC" %}
                                    <img src="/static/img/bg-img/pc.jpg" alt="">
                                    {% elif game1.environement == "Xbox"%}
                                        <img src="/static/img/bg-img/xbox.jpg" alt="">
                                        {% else %}
                                            <img src="/static/img/bg-img/ps4.jpg" alt="">
                                     {% endif %}
                                </div>


                                <div class="rating-area text-center">
                                    <h3>9.1</h3>
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                                 <div>
                                    <a href="{% url 'update_my_game' game1.id %}" class="btn text-secondary">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>

                                    <a href="{% url 'delete_my_game' game1.id %}" class="btn text-secondary">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>

                        </div>
                    </div>
                            {% endif %}
                            {% endfor %}
                    {% endfor %}
                    <!-- *** Single Review Area *** -->


                    <!-- *** Single Review Area *** -->


                    <!-- ### Pagination Area ### -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mt-100">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Game Review Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    {% include 'to_include/footer_home.html' %}
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/js/active.js"></script>
</body>

</html>