<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "login_register_includes/styles.html" %}

    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a href="#">Ngaymiw<b>Ga3</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Login</p>

      <form action="" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
{#          <div class="col-8">#}
{#            <div class="icheck-primary">#}
{#              <input type="checkbox" id="remember">#}
{#              <label for="remember" style="color: #20d8da;">#}
{#                Remember Me#}
{#              </label>#}
{#            </div>#}
{#          </div>#}
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-block" style="background-color: #20d8da;">login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> login avec Facebook
        </a>

        <a href="{% url 'register' %}" class="btn btn-block btn-secondary">
          <i class="fa fa-users" aria-hidden="true"></i> creer un compte
        </a>
      </div>
      <!-- /.social-auth-links -->

{#      <p class="mb-1">#}
{#        <a href="forgot-password.html">I forgot my password</a>#}
{#      </p>#}

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

</body>
</html>
