<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "login_register_includes/styles.html" %}

    <link rel="stylesheet" href="/static/style.css">

</head>
<body class="hold-transition login-page">

<div class="login-box">
  <div class="login-logo">
    <a href="#">Ngaymiw<b>Ga3</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Login</p>

      <div class="contact-form-area">
            <form action="" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-6">
                        {{ form.user_name }}
                    </div>

                    <div class="col-12 col-lg-6">
                        {{ form.email }}
                    </div>
                    <div class="col-12">
                        {{ form.password }}
                    </div>

                    <div class="col-12">
                        {{ form.phone }}
                    </div>

                    <div class="col-12">
                        {{ form.wilaya }}
                    </div>

{#                                        <div class="col-12">#}
{#                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>#}
{#                                        </div>#}
                    <div class="col-12">
                        <button class="btn egames-btn w-100" type="submit">creer</button>
                    </div>

                </div>
            </form>
      </div>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="{% url 'login' %}" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> j'ai un compte
        </a>
      </div>
      <!-- /.social-auth-links -->

{#      <p class="mb-1">#}
{#        <a href="forgot-password.html">I forgot my password</a>#}
{#      </p>#}

    </div>
    <!-- /.login-card-body -->
  </div>
</div>





<!-- /.register-box -->
</div>


<!-- InputMask -->
<script src="/static/plugins/moment/moment.min.js"></script>
<script src="/static/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="/static/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/static/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

<script src="/static/dist/js/demo.js"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>



<!-- /form scripts -->
<script>
		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='email';
		form_fields[3].placeholder='password';
        form_fields[4].placeholder='phone';
		form_fields[5].placeholder='wilaya';

		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

</body>
</html>
